body{

    background-image: url("../../images/login/login.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    padding: 0;
    margin: 0;
    color: #DDD;
    font-family: 'Helvetica', 'Lucida Grande', 'Arial', sans-serif;
}
#border,
#registerComponent{

    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    height: 350px;
    width: 700px;
}
/* Layout with mask */
#registerComponent{
    color: transparent;
    padding: 3px;
    margin: 100px auto;
}
/* Artifical "border" to clear border to bypass mask */
#border{
    padding: 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#border,
#registerComponent,
#border.start,
#rain.start{
    background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 0 0, 0 0, 0 0;
    /* Blue-ish Green Fallback for Mozilla */
    background-image: -moz-linear-gradient(left, #09BA5E 0%, #00C7CE 15%, #3472CF 26%, #00C7CE 48%, #0CCF91 91%, #09BA5E 100%);
    /* Add "Highlight" Texture to the Animation */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,0,0,.3)), color-stop(23%,rgba(0,0,0,.1)), color-stop(40%,rgba(255,231,87,.1)), color-stop(61%,rgba(255,231,87,.2)), color-stop(70%,rgba(255,231,87,.1)), color-stop(80%,rgba(0,0,0,.1)), color-stop(100%,rgba(0,0,0,.25)));
    /* Starting Color */
    background-color: #39f;
    /* Just do something for IE-suck */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00BA1B', endColorstr='#00BA1B',GradientType=1 );
}

/* Non-keyframe fallback animation */
#border.end,
#registerComponent.end{
    -moz-transition-property: background-position;
    -moz-transition-duration: 30s;
    -moz-transition-timing-function: linear;
    -webkit-transition-property: background-position;
    -webkit-transition-duration: 30s;
    -webkit-transition-timing-function: linear;
    -o-transition-property: background-position;
    -o-transition-duration: 30s;
    -o-transition-timing-function: linear;
    transition-property: background-position;
    transition-duration: 30s;
    transition-timing-function: linear;
    background-position: -5400px 0, -4600px 0, -3800px 0, -3000px 0;
}

/* Keyfram-licious animation */
@-webkit-keyframes colors {
    0% {background-color: #39f;}
    15% {background-color: #F246C9;}
    30% {background-color: #4453F2;}
    45% {background-color: #44F262;}
    60% {background-color: #F257D4;}
    75% {background-color: #EDF255;}
    90% {background-color: #F20006;}
    100% {background-color: #39f;}
}
#border,#registerComponent{
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: colors;
    -webkit-animation-timing-function: ease;
}



/* In-Active State Style */
#border.unfocus{
    background: #333 !important;
    -moz-box-shadow: 0px 0px 15px rgba(255,255,255,.2);
    -webkit-box-shadow: 0px 0px 15px rgba(255,255,255,.2);
    box-shadow: 0px 0px 15px rgba(255,255,255,.2);
    -webkit-animation-name: none;
}
#registerComponent.unfocus{
    background: #000 !important;
    -webkit-animation-name: none;
}



input {
    display: block;
    margin: 11px 10px 10px 15px;
    width: 90%;
    height: 12%;
    background: #111;
    -moz-box-shadow: 0px 0px 4px #000 inset;
    -webkit-box-shadow: 0px 0px 4px #000 inset;
    box-shadow: 0px 0px 4px #000 inset;
    outline: 1px solid #333;
    border: 1px solid #000;
    padding: 5px;
    color: #444;
    font-size: 16px;
}
input:focus{
    -moz-border-radius: 25px 0px 0px 25px;
    -webkit-border-radius: 25px 0px 0px 25px;
    border-radius: 25px 0px 0px 25px;
    outline: 1px solid #555;
    color: #FFF;
}

#leftBlock {
    background: #212121;
    float: left;
    width: 350px;
    height: 350px;
}

#rightBlock {
    background: #212121;
    float: left;
    width: 350px;
    height: 350px;
}

button {
    margin-top: 10px;
    width: 40%;
    height: 40px;
    color: #999;
    border: 1px solid #000;
    font-weight: lighter;
    background: #45484d;
    background: -moz-linear-gradient(top, #222 0%, #111 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222), color-stop(100%,#111));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22222', endColorstr='#11111',GradientType=0 );
    -moz-box-shadow: 0px 1px 1px #000, 0px 1px 0px rgba(255,255,255,.3) inset;
    -webkit-box-shadow: 0px 1px 1px #000, 0px 1px 0px rgba(255,255,255,.3) inset;
    box-shadow: 0px 1px 1px #000,0px 1px 0px rgba(255,255,255,.3) inset;
    text-shadow: 0 1px 1px #000;
}

button#commitButton {
    float: left;
    margin-left: 20px;
    -moz-border-radius: 25px 0px 0px 25px;
    -webkit-border-radius: 25px 0px 0px 25px;
    border-radius: 25px 0px 0px 25px;
}

button#cancelButton {
    margin-left: 20px;
    float: left;
    -moz-border-radius: 0px 25px 25px 0px;
    -webkit-border-radius: 0px 25px 25px 0px;
    border-radius: 0px 25px 25px 0px;
}