<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

    <resultMap id="userResultMap" type="User">
        <id column="userID" property="userID" />
        <result column="userLoginName" property="userLoginName" />
        <result column="userPassword" property="userPassword" />
        <result column="userName" property="userName" />
        <result column="userEmail" property="userEmail" />
        <result column="userPhoneNumber" property="userPhoneNumber" />
        <result column="userRole" property="userRole" />
        <result column="userLastLoginTime" property="userLastLoginTime" />
        <result column="userLogoURL" property="userLogoURL" />
    </resultMap>
    <select id="queryByUser" parameterType="User" resultMap="userResultMap">
        SELECT * FROM usertable WHERE
        userPassword = #{userPassword} AND
        (userLoginName = #{userLoginName} OR userEmail = #{userEmail} OR userName = #{userName})
    </select>

    <select id="queryByUserID" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT * FROM usertable WHERE userID = #{userID}
    </select>

    <select id="queryByUserEmail" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT * FROM usertable WHERE userEmail = #{userEmail}
    </select>


    <select id="queryByUserLoginName" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT * FROM usertable WHERE userLoginName = #{userLoginName}
    </select>

    <select id="queryByUserName" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT * FROM usertable WHERE userName = #{userName}
    </select>

    <insert id="saveUser" parameterType="User">
        INSERT INTO usertable (
        userID,
        userLoginName,
        userPassword,
        userName,
        userEmail,
        userPhoneNumber,
        userRole,
        userLastLoginTime,
        userIPAddress,
        userStatus,
        userLogoURL,
        userRegisterTime
        ) values (
        #{userID},
        #{userLoginName},
        #{userPassword},
        #{userName},
        #{userEmail},
        #{userPhoneNumber},
        #{userRole},
        #{userLastLoginTime},
        #{userIPAddress},
        #{userStatus},
        #{userLogoURL},
        #{userRegisterTime}
        )
    </insert>


    <update id="updateUserScore" parameterType="User">
        UPDATE usertable SET
        userIPAddress = #{userIPAddress},
        userHighestScore = #{userHighestScore} WHERE
        userID = #{userID} OR
        userLoginName = #{userLoginName} OR
        userEmail = #{userEmail} OR
        userName = #{userName}
    </update>

</mapper>