@import url("http://fonts.googleapis.com/css?family=Molengo&v1");

.smoke-base {
    background: none;
}

.smoke-base .dialog {
    top:auto;
    left:auto;
    right:0;
    bottom: 0;
    width: auto;
}

.smoke-base .dialog-inner {
    padding: 15px 20px;
}

.smoke {
    text-align:center;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    font-family: 'Molengo', arial, serif;
    text-transform: none;
    color:white;
    font-weight: normal;
    background-color: black;
    font-size:30px;
    border-radius: 0;
}
.dialog-buttons {
    margin: 10px 0 0 0;
    text-align:right;
}

.dialog-buttons button {
    border-radius: 3px;
    text-transform: none;
    background-color: #333;
    color: #eee;
    font-size:13px;
    padding:7px 10px;
    margin:0 0 0 10px;
}

button.cancel {
    background-color: #666;
    color:#eee;
}